@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  background: var(--background-color);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --background-color: #ffffff;
  --text-color: #14150f;
  --highlight-color: #ff0000;
  --icon-text-color: #14150f;
  --icon-background-color: #f2e4e4;
}

[data-theme="dark"] {
  --background-color: #0000009b;
  --text-color: #d9d9d9;
  --highlight-color: #ff0000;
  --icon-text-color: #14150f;
  --icon-background-color: #f2e4e4;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }
}
