@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #edede4;
  --text-color1: #14150f;
  --text-color2: #53372b;
  --highlight-color: #1e90ff;
  --icon-background-color1: #f2e4e4;
  --icon-background-color2: #ffb3ba;
  --gradient: linear-gradient(30deg, #ffb3ba, #edede4, #ffb3ba, #edede4);
}

[data-theme="dark"] {
  --background-color: #595959;
  --text-color1: #edede4;
  --text-color2: #cccccc;
  --highlight-color: #1e90ff;
  --icon-background-color1: #f2e4e4;
  --icon-background-color2: #ffb3ba;
  --gradient: linear-gradient(30deg, #595959, #14150f, #595959, #14150f);
}

@layer base {
  body {
    @apply bg-gradient-to-r;
    background: var(--gradient);
    background-size: 4000% 4000%;
    animation: waveGradient 10s ease infinite;
  }

  @keyframes waveGradient {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  #noiseCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
