@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-font-smooting: inherit;
}

:root {
  --background-color: #d9d9d9;
  --text-color1: #14150f;
  --text-color2: #53372b;
  --highlight-color: #1e90ff;
  --icon-background-color1: #f2e4e4;
  --icon-background-color2: #ffb3ba;
  --gradient: linear-gradient(30deg, #ffb3ba, #edede4, #ffb3ba, #edede4);
}

[data-theme="dark"] {
  --background-color: #14150f;
  --text-color1: #d9d9d9;
  --text-color2: #cccccc;
  --highlight-color: #1e90ff;
  --icon-background-color1: #f2e4e4;
  --icon-background-color2: #ffb3ba;
  --gradient: linear-gradient(30deg, #595959, #14150f, #595959, #14150f);
}

@layer base {
  body {
    @apply bg-gradient-to-r;
    /* @apply bg-gradient-to-r; */
    background: var(--background-color);
    /* background: var(--gradient); */
    /* background-size: 400% 400%; */
    /* animation: waveGradient 10s ease infinite; */
  }

  @keyframes waveGradient {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  #noiseCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
